<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="2016TiiGrupo3ConnectionString" connectionString="Data Source=Valera;Initial Catalog=2016TiiGrupo3;Persist Security Info=True;User ID=2016TiiGrupo3;Password=Senha@333"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
